[class^="number-slide"],
[class*="number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 380px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgba(0, 0, 0, 0);
}

.number-slide2 {
  background: rgba(0, 0, 0, 0);
}

.number-slide3 {
  background: rgba(0, 0, 0, 0);
}

.number-slide4 {
  background: rgb(66, 83, 82);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}
